.search-bar {
    display: block;
    justify-content: left;
    background: red;
    margin-right: 20px;
    margin-top: 55px;
    right: 0;
    position: absolute;
    border: 1px ridge black;
}

.search-bar p {
    color: grey;
}

input, select, textarea {
    color: white;
    padding: 1px;
}