.search-bar {
    display: block;
    justify-content: left;
    margin-right: 20px;
    margin-top: 55px;
    right: 0;
    position: absolute;

   /*  text-align: center;
    margin-top: 50vh;
    position: relative; */
    
}

#query {
    width: 400px;
    height: 40px;
    border-radius: 100px;
}

.search-bar p {
    color: grey;
}

input, select, textarea {
    border: 4px inset crimson;
    padding: 10px;
}