.content h1 {
  color: crimson;
  position: absolute;
  top: 0;
  left: 46vw;
  display: block;
  
}

.main {
  background: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}