body {
  background-image: url('https://www.cardmaker.net/uploads/monthly_2020_03/ezgif.com-gif-maker.gif.d619f6850e6545905815a3aed6c7d29f.gif');
  background-size: cover;
  padding: 0;
  margin: 0;
  height: 100vh;
}